﻿@using Cms.DomainLogic

@model IEnumerable<CMS.MVC.Models.PersonTaskMV>

@{
    ViewBag.Title = "ListTasks";
    Layout = "../Shared/_Employee.cshtml";
}

<h2>Tasks for @ViewBag.Employee.FirstName @ViewBag.Employee.LastName</h2>

<p>

</p>
<div class="wrapper">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HoursBudgeted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HoursBudgeted)
            </td>
            <td>
                @(Math.Truncate(100 * @item.HoursWorked)/100)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @{

                    var temp = (List<StatusDao>) ViewBag.Statuses;
                    var status = temp.First(e => e.Id == item.StatusID).Name;

                    <p>@status</p>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (!ViewBag.Employee.ClockedOut)
            {
                <td>
                    @Html.ActionLink("Activate", "ActivateTask", new {id = item.Id, employeeId = item.EmployeeId}) |
                    @Html.ActionLink("Complete", "CompleteTask", new {id = item.Id, employeeId = item.EmployeeId}) |

                </td>
            }

            @if (ViewBag.Employee.ClockedOut)
            {
                ViewBag.SubmitValue = "Clock In";
            }
            else
            {
                ViewBag.SubmitValue = "Clock Out";
            }


        </tr>
    }

</table>
    </div>
<input type="button" onclick="location.href='@Url.Action("Clock",new {id = ViewBag.Employee.ID})'" value="@ViewBag.SubmitValue" />
