﻿
body {
    background-color: cornflowerblue;
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
}

h1
{
    margin: 2%;
    color: white;
    font-size: 2em;
}

h2
{
    margin: 1%;
    color: white;
    font-size: 1.8em;
}

h3
{
    margin: 1%;
    color: white;
    font-size: 1.6em;
}

h4
{
    margin: 1%;
    color: white;
    font-size: 1.4em;
}

img
{
    opacity: 1;
    padding: 5%;
}

#title
{
    text-shadow: 5px 5px 10px black;
    text-align: center;
}

hr
{
    color: black;
}

#contentpadding 
{

    margin-right:10%;
    margin-left:10%;
    padding: 10px;
    width: 80%;
    background-color: cornflowerblue;
    opacity: .91;
    border-radius: 25px;
    border: solid 2px;
    border-color: white;
    /*border-top-color: #eee;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: #eee;*/
    /*box-shadow: 10px 10px 1px #111111;*/
    font-size: 110%;
    color: black;

}

p    
{
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: .99;
}

submit
{

}

.content
{
    text-wrap: normal;
    background-color: cornflowerblue;
    opacity: 1;
}




#index-content
{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;

}

#table-content
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 90%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

#small-form-table
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}

#chartbox
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width:50%;
    margin-left: 18%;
}

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #fff;
}


.carousel-caption {
    margin-bottom: 35px;
    background: inherit;
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  color: #ffffff;
  text-align: center;
  text-shadow: 5px 5px 10px #000;
  
  filter: alpha(opacity=100);
}

.carousel-caption .btn {

  text-shadow: 5px 5px 10px #000;
}

.logo
{
    margin-left: 7%;
    vertical-align: central;
    text-align: left;
}

.solidbox !important
{
    opacity: .99;
}

/*.leftbox
{
    text-align: left;
    width: 20%;
    float: left;
}*/

/*.rightbox
{
    text-align: left;
    width: 20%;
    float: right;
}*/

.loginform
{
    width:50%;
}

/*.formelement
{
    padding: 1px;
    margin: 1px;
    border: 1px;

}*/

