﻿<!DOCTYPE ="html">
<html language="en-us">
<head>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marcus Cook" backend="">
    <meta name="keywords" content="">

    <title>Construction Management Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../Styles/modern-business.css">
    <link rel="stylesheet" href="../Styles/Styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.17/angular2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.3/angular-google-maps.min.js"></script>
    <style></style>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="nav navbar-nav navbar-left navbar-header">
                    <h4><a href="../index.html">Home</a></h4>
                </div>
                <div class="nav navbar-nav navbar-right navbar-header">
                    <h4><a href="../pages/login.html">Login</a></h4>
                </div>
            </div>
        </nav>
    </header>
        <main>

            <h1 id="title">Construction Management</h1>
            <section id="contentpadding">

                <div class="content" width="100%">
                    <h3 id="title" class="page-header text-center"> - Login -</h3>
                    <div class="container">
                        <div class="row">
                                    <script src="app.js"></script>
                                    <script src="login.js"></script>
                            <form>
                                <div class="col-md-3"><label>Username</label><br /><input type="text" /></div>

                                <div class="col-md-3"><label>Password</label><br /><input type="text" /></div>
                                <div class="col-md-3"><br /><button ng-click="">Submit →</button></div>
                            </form>
                            <br /><br />
                            <br /><br />
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
</body>
</html>
