﻿
@{
    ViewBag.Title = "Admin";
    Layout = "_Layout.cshtml";
}


@section Title
{
    @Html.ActionLink("Management Portal", "Index","Admin", new { area = "" }, new { @class = "navbar-brand" });
}

@section NavBar
{<li>@Html.ActionLink("View Employees", "ListEmployees", "Admin")</li>

}
@section RightSide
{
    <button style="margin-top:5px" class='btn btn-secondary pull-right' onclick="window.location.href='@Url.Action("Logout","Account")'" >Log Out</button>
}
@RenderBody();
@section Scripts
{
    @RenderSection("Scripts", false)
}
