﻿
@{
    ViewBag.Title = "Employee";
    Layout = "_Layout.cshtml";
}


@section Title
{
    @Html.ActionLink("Employee Portal", "Index","user", new { area = "" }, new { @class = "navbar-brand" });
}
@section RightSide
{
    <button style="margin-top:5px" class='btn btn-secondary pull-right' onclick="window.location.href='@Url.Action("Index","Admin")'">Managment</button>
}
@section NavBar
{<li>@Html.ActionLink("Clock in", "EnterUsername", "user")</li>

}

@RenderBody();
@section Scripts
{
    @RenderSection("Scripts", false)
}
