﻿@using CMS.MVC.Helpers
@model CMS.MVC.Models.PersonDetailMV

@{
    ViewBag.Title = "CreateEmployee";
    Layout = "";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter new employee information:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group ">
            @Html.LabelFor(model => model.EmployeeMv.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeMv.FirstName, new {htmlAttributes = new {@class = "form-control form-inline"}})
                @Html.ValidationMessageFor(model => model.EmployeeMv.FirstName, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.EmployeeMv.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeMv.LastName, new { htmlAttributes = new { @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.EmployeeMv.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.DetailMV.username, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.username, new {htmlAttributes = new {@class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.username, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.DetailMV.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.password, new { htmlAttributes = new { @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DetailMV.SSN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.SSN, new { htmlAttributes = new { @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.SSN, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DetailMV.SiteID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.DetailMV.SiteID,DropDown.Sites(), htmlAttributes: new { @class = "col-md-3 form-control" })
                @Html.ValidationMessageFor(model => model.DetailMV.SiteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailMV.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.phone, new { htmlAttributes = new { @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.phone, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.EmployeeMv.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.EmployeeMv.RoleId, DropDown.Roles(), htmlAttributes: new { @class = "col-md-3 form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeMv.RoleId, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group text-center ">
            <div class="">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        </div>
          
       
}

<div>

</div>
