﻿@model CMS.MVC.Models.ScheduleMV
@{
    Layout = "";
}

<div class="form-group">
@using (Html.BeginForm("AddSchedule", "Admin", FormMethod.Post, new { id = "submitForm" }))
{
    <div class="col-md-10">
        @Html.EditorFor(model => model.DateWorking, new { htmlAttributes = new { @class = "form-control pull-left" } })
        <input type="submit" value="Add" class="btn btn-default pull-right"  />
        @Html.ValidationMessageFor(model => model.DateWorking, "", new { @class = "text-danger" })
        @{
            TempData["EmployeeId"]= ViewBag.Employee.ID;
        }

    </div>

            }
   

</div>

