﻿@using CMS.MVC.Helpers
@model CMS.MVC.Models.PersonTaskMV

@{
    ViewBag.Title = "CreateTask";
    Layout = "";
    TempData["EmployeeId"] = ViewBag.Employee.ID;
}

<h2>Create a Task</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-left: -5em;">
        <h4>PersonTaskMV</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ProjectId, DropDown.ProjectTasks(), htmlAttributes: new { @class = "control-label col-md-2 form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.HoursBudgeted, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.HoursBudgeted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoursBudgeted, "", new { @class = "text-danger" })
            </div>
        </div>

      

    

     
        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.StatusID, DropDown.Statuses(), htmlAttributes: new {@class = "control-label col-md-2 form-control"})
                @Html.ValidationMessageFor(model => model.StatusID, "", new {@class = "text-danger"})

            </div>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

