﻿
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Admin.cshtml";

}
<h2 class="text-center">Management Portal</h2>

<div class="wrapper">
    <div class="wrapper">
        <img src="http://vignette2.wikia.nocookie.net/dreamlogos/images/8/8d/Btb1.png/revision/latest?cb=20150801085138" height="200", width="150px"/>
        <p>Here at Redmon Construction, we strive to bring out the best of every employee. And we stride forward to tackle any tasks, no matter how large. As our great CEO says "Can we build it? Yes we can!"</p>
    </div>

    <h3 class="main header">
        Upcomming Events:
    </h3>
    <div class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat mollis fermentum. Pellentesque eleifend, enim eget ultrices interdum, diam sem hendrerit massa, quis lobortis odio odio quis dui. Vestibulum eu enim id lectus sagittis commodo ut sollicitudin erat. Sed hendrerit gravida justo, venenatis maximus ligula mattis quis. Suspendisse ultricies urna orci, vel ultricies turpis interdum a. Nullam vitae laoreet nibh. Mauris hendrerit dignissim tempus. Quisque at lectus orci. Fusce vitae tellus ac erat interdum suscipit et vel enim.

        Duis nulla mauris, aliquam sed ligula id, pellentesque dignissim enim. Praesent sed massa et felis faucibus malesuada. Duis viverra arcu et purus vehicula, eget posuere ante vulputate. Sed turpis tortor, malesuada ut suscipit sodales, imperdiet eget eros. Ut efficitur facilisis ante. Ut leo lorem, mattis ac bibendum non, vulputate sed diam. Pellentesque tincidunt magna libero, ac tincidunt ex congue in. Donec hendrerit dui mi, eu hendrerit neque tincidunt sed. Morbi a convallis neque, et ullamcorper nisi. Donec eget enim ut nisi ultrices ullamcorper nec eget lectus. Ut pretium diam ut diam varius placerat.

        Curabitur a eros congue, malesuada metus eu, tempor dolor. Sed nec sem a massa luctus convallis. Aliquam eget consequat velit. Maecenas vestibulum luctus dictum. Nam porta convallis egestas. Nulla imperdiet, odio at pharetra tristique, dolor nulla iaculis tellus, a condimentum sem sem et nibh. Nam vel nisl vel nulla facilisis mattis pulvinar at felis. Donec in lacus a tortor volutpat maximus. Vivamus pulvinar, magna sed dapibus sagittis, ex quam iaculis turpis, ut tristique lacus felis ut risus. Vestibulum quis interdum nisi. Nam quam mauris, sollicitudin eget pharetra in, ultricies sit amet sapien.

        Nam semper turpis at tincidunt faucibus. Integer tempor tristique erat, nec facilisis purus tempor in. Vestibulum sed tellus aliquet, commodo magna ut, ornare nibh. Ut fermentum enim dolor, a sagittis ligula bibendum quis. Integer pretium mi at nisl mollis, vitae efficitur nunc cursus. Aenean iaculis a arcu nec condimentum. Integer efficitur augue quam. Proin semper dui risus, non condimentum velit condimentum id. Nunc vitae mattis ante, sed sodales lacus. In pharetra, ligula a ullamcorper interdum, arcu lorem ullamcorper mauris, sed volutpat tellus nunc at libero. Aliquam efficitur, dui nec bibendum congue, sem lacus ornare lorem, id ultricies arcu massa nec velit. Nulla sed dolor sodales, aliquam leo in, maximus arcu. Duis hendrerit tellus quis tincidunt aliquam. In non arcu purus. Nulla mollis lacus ac pretium lobortis.

        Curabitur et dapibus metus. Aenean sollicitudin hendrerit ornare. Integer sollicitudin eu urna fringilla porttitor. Curabitur semper, felis vel imperdiet aliquam, ex diam accumsan sem, at luctus ligula nibh eu ligula. Cras iaculis turpis a placerat commodo. Maecenas ultricies ligula purus, ac pretium ante feugiat nec. Pellentesque vel consequat ipsum. Sed suscipit risus nec aliquam tristique. In pellentesque turpis in neque porta vehicula. Quisque porttitor pretium tellus vel consectetur. Nunc suscipit, mauris eget tempor fringilla, ante nulla efficitur metus, nec varius urna mauris eget sapien. Quisque posuere malesuada ipsum in eleifend. Etiam sed volutpat est. Aenean mattis l

    </p>
    <h3 class="main header">
        Corperate News:
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat mollis fermentum. Pellentesque eleifend, enim eget ultrices interdum, diam sem hendrerit massa, quis lobortis odio odio quis dui. Vestibulum eu enim id lectus sagittis commodo ut sollicitudin erat. Sed hendrerit gravida justo, venenatis maximus ligula mattis quis. Suspendisse ultricies urna orci, vel ultricies turpis interdum a. Nullam vitae laoreet nibh. Mauris hendrerit dignissim tempus. Quisque at lectus orci. Fusce vitae tellus ac erat interdum suscipit et vel enim.

        Duis nulla mauris, aliquam sed ligula id, pellentesque dignissim enim. Praesent sed massa et felis faucibus malesuada. Duis viverra arcu et purus vehicula, eget posuere ante vulputate. Sed turpis tortor, malesuada ut suscipit sodales, imperdiet eget eros. Ut efficitur facilisis ante. Ut leo lorem, mattis ac bibendum non, vulputate sed diam. Pellentesque tincidunt magna libero, ac tincidunt ex congue in. Donec hendrerit dui mi, eu hendrerit neque tincidunt sed. Morbi a convallis neque, et ullamcorper nisi. Donec eget enim ut nisi ultrices ullamcorper nec eget lectus. Ut pretium diam ut diam varius placerat.

        Curabitur a eros congue, malesuada metus eu, tempor dolor. Sed nec sem a massa luctus convallis. Aliquam eget consequat velit. Maecenas vestibulum luctus dictum. Nam porta convallis egestas. Nulla imperdiet, odio at pharetra tristique, dolor nulla iaculis tellus, a condimentum sem sem et nibh. Nam vel nisl vel nulla facilisis mattis pulvinar at felis. Donec in lacus a tortor volutpat maximus. Vivamus pulvinar, magna sed dapibus sagittis, ex quam iaculis turpis, ut tristique lacus felis ut risus. Vestibulum quis interdum nisi. Nam quam mauris, sollicitudin eget pharetra in, ultricies sit amet sapien.

        Nam semper turpis at tincidunt faucibus. Integer tempor tristique erat, nec facilisis purus tempor in. Vestibulum sed tellus aliquet, commodo magna ut, ornare nibh. Ut fermentum enim dolor, a sagittis ligula bibendum quis. Integer pretium mi at nisl mollis, vitae efficitur nunc cursus. Aenean iaculis a arcu nec condimentum. Integer efficitur augue quam. Proin semper dui risus, non condimentum velit condimentum id. Nunc vitae mattis ante, sed sodales lacus. In pharetra, ligula a ullamcorper interdum, arcu lorem ullamcorper mauris, sed volutpat tellus nunc at libero. Aliquam efficitur, dui nec bibendum congue, sem lacus ornare lorem, id ultricies arcu massa nec velit. Nulla sed dolor sodales, aliquam leo in, maximus arcu. Duis hendrerit tellus quis tincidunt aliquam. In non arcu purus. Nulla mollis lacus ac pretium lobortis.

        Curabitur et dapibus metus. Aenean sollicitudin hendrerit ornare. Integer sollicitudin eu urna fringilla porttitor. Curabitur semper, felis vel imperdiet aliquam, ex diam accumsan sem, at luctus ligula nibh eu ligula. Cras iaculis turpis a placerat commodo. Maecenas ultricies ligula purus, ac pretium ante feugiat nec. Pellentesque vel consequat ipsum. Sed suscipit risus nec aliquam tristique. In pellentesque turpis in neque porta vehicula. Quisque porttitor pretium tellus vel consectetur. Nunc suscipit, mauris eget tempor fringilla, ante nulla efficitur metus, nec varius urna mauris eget sapien. Quisque posuere malesuada ipsum in eleifend. Etiam sed volutpat est. Aenean mattis l

    </p>
        </div>
</div>
<div>

</div>

