﻿@model IEnumerable<CMS.MVC.Models.ScheduleMV>

@{
    ViewBag.Title = "ListSchedule";
    Layout = "../Shared/_Admin.cshtml";
}

<h2>Schedule</h2>
<div class="wrapper">
    <p>


    <p class="text-center text-warning">@TempData["Error"]</p>


    <button type="button" id="modalBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Schedule a Day
    </button>
    </p>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.DateWorking)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DateWorking)
                </td>
                <td>
                    @Html.ActionLink("Delete Day", "DeleteDay", new { id = item.EmployeeID, sid = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add a day</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var jqxhr = $.get( '@Url.Action("AddSchedule", new {id= ViewBag.EmployeeId})', function(data) {
            $('.modal-body').html(data);
        })


    </script>
}


