﻿@model IEnumerable<CMS.MVC.Models.EmployeeMV>

@{
    ViewBag.Title = "View";
    Layout = "../Shared/_Admin.cshtml";
}

<h2>Current Employees</h2>

<p>
    <button type="button" id="modalBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Hire A New Employee
    </button>
    @TempData["Error"]
</p>

<div class="wrapper">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.ActionLink("Schedule", "ListSchedule", new {id = item.ID}) |
                    @Html.ActionLink("Assigned Tasks", "ListPersonTasks", new {id = item.ID})
                    @if (item.RoleId < 4)
                    {
                        @Html.ActionLink("Terminate Employee", "TerminateEmployee", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-danger pull-right" })
                    }
                    else { <p class="pull-right">"Site managers can only be terminated by human resources"</p> }





                </td>
            </tr>
        }

    </table>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New Employee</h4>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
@section Scripts {
   <script>
      
        var jqxhr = $.get( '@Url.Action("AddEmployee")', function(data) {
            $('.modal-body').html(data);
        })


</script>
}

